/* You can add global styles to this file, and also import other style files */

.bg{
    background: #146eb4;
}
.navbar-light .navbar-brand{
    color:#ff9900;
    font-weight: bold;
    font-size: 25px;
}
form{
   border:1px solid #dadada;
   padding: 10px;
}